import (
	"context"
	"encoding/json"
	"time"

	"github.com/coinbase/chainnode/internal/clients/blockchain/jsonrpc"
)

type(
 ProxyReceiver interface {
    {{.ProxyReceivers}}
  }
)
var (
    {{.JSONRPCRequest}}
)
{{.ProxyMethodMap}}
{{.Handlers}}
